######################
## Setup-specific
DB_ROOT_PW=""
KEYSTONE_SERVICE_PASSWORD="keystone"
NOVA_SERVICE_PASSWORD="nova"
CINDER_SERVICE_PASSWORD="cinder"
GLANCE_SERVICE_PASSWORD="glance"
RUNTIME_RC="openstack-runtime.rc"
SETUP_UTILS="openstack-setup-utils"

## Keystone data setup
MY_USER=demo
MY_PUB_TENANT=demo
MY_PRIV_TENANT=invisible_to_admin
MY_REGION=$OS_REGION_NAME

ENABLE_SWIFT=0
ENABLE_CINDER=1
ENABLE_ENDPOINTS=1

## you could use '>=folsom' or 'essex' here...
os_dist=">=folsom"


LOG_DIR=.
TMP_DIR=.
##
######################


######################
## OpenStack Bootstrap vars

SERVICE_TOKEN="someverylongandrandomstinggoeshere"
SERVICE_ENDPOINT="http://127.0.0.1:35357/v2.0"

## OpenStack-specific
export OS_USERNAME="admin"
export OS_PASSWORD="xxxpasswordxxx"
export OS_TENANT_NAME="admin"
export OS_AUTH_URL="http://127.0.0.1:5000/v2.0/"
export OS_REGION_NAME="RegionOne"

## https://github.com/openstack/python-keystoneclient
OS_SERVICE_TOKEN=${SERVICE_TOKEN}
OS_SERVICE_ENDPOINT=${SERVICE_ENDPOINT}
OS_IDENTITY_API_VERSION=2.0
##
######################

## Some default settings for all scripts
set -e

LOG_FILE=${LOG_DIR}/openstack-setup.log
# Stdout is not a terminal.
npipe=$(mktemp -u --tmpdir=${TMP_DIR} XXXXXXXXX.npipe)
trap "rm -f $npipe" EXIT
mknod $npipe p
tee -a <$npipe ${LOG_FILE} &
exec 1>&-
exec 1>$npipe
exec 2>&1

